/*
 * CORES
 *
 * Indigo200: #9FA8DA;
 * Indigo700: #303F9F;
 *    Cyan50: #E0F7FA;
 *   Cyan200: #80DEEA;
 *   Cyan700: #0097A7;
 */

a {
    color: #0097A7;
}

a:hover {
    color: #303F9F;
    text-decoration: none;
}

.primary-bg {
    background-color: #9FA8DA;
}

.col-md-4,
.col-lg-4,
.col-lg-6 {
    padding: 15px;
}

.card {
    height: 100%;
}

.icons {
    font-size: 2rem;
    color: #0097A7;
}

.img-profile {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border: 1rem solid #9FA8DA;
}
